robotframework==6.0.1
robotframework-requests==0.9.4
robotframework-pabot==2.8.0
jsondiff==2.0.0
deepdiff==6.2.1
robotframework-jsonlibrary==0.5
robotframework-seleniumlibrary==6.0.0
Pillow==9.5.0